* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main_container {
  width: 100%;
}

.buttons {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  margin-left: 0.5em;
}
